body {
    background-color: #032c55;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
}

.form-container {
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 20px;
}

input,

select {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #651080;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}